/* Additional styles specific to the About page can be added here */
.about-section {
    margin: 10px;
    padding: 40px;
    background-color: #121111;
    text-align: justify;
  }
  .about-section h2 {
    text-decoration: underline;
    color: #f10c0c;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
  }

  
  