.containercontactform {
  padding: 5px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 103vh; /* Ensures the container takes the full height of the viewport */
  background-color:#7091E6;
}

form {
  width: 50%;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 15px black;
}

form label {
  display: block;
  margin-bottom: 15px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
#response {
  margin-top: 20px;
  text-align: center;
}
.text-center{
  color: black;
  font-size:larger;
}
