.containercontactform {
    background-image: url(""); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    padding: 5px; /* Adjust padding as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103vh; /* Ensures the container takes the full height of the viewport */
  }
  
  form {
    width: 50%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  form label {
    display: block;
    margin-bottom: 15px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }
  
  #response {
    margin-top: 20px;
    text-align: center;
  }