/* Footer Styles */
footer {
    width: 100%;
    background-color: #090909;
    text-align: center;
    padding: 10px 0;
    color:white;
    position: static; /* Change position to static for proper placement */
    bottom: auto; /* Reset bottom position */

  }
  .socialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #ccc;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
  } 
  .socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
  }
  .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
  }
  .footerNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footerNav ul li a {
    color: white;
    margin: 0 8px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
  }
  .footerNav ul li a:hover {
    opacity: 1;
  }
  .footerBottom {
    padding: 5px;
    text-align: center;
  }
  /* Media query for smaller screens */

@media only screen and (max-width: 768px) {
  footer {
    padding: 5px 0;
  }

  .footerNav ul {
    
    padding: 0;
  }

  .footerNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footerNav ul li a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
  }




  .socialIcons {
    flex-wrap: wrap;
    gap: 20px;
  }

  .socialIcons a {
    margin: 10px;
  }
  .footerBottom {
    padding: 2px;
  }
}
