.container3 {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #7091E6;
  }
  
  .room {
    width: 400px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .room img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h1 {
    text-align: center;
  }
  #ourcollection{
    text-align: center;
    text-decoration: solid;
    text-underline-offset: line;
    font-weight: bold;
    background-color: #7091E6;
  }