.container3 {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #7091E6;
  }
  
  .room {
    width: 450px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px white;
    border-radius: 20px;
    font-size: larger;
  }
  
  .room img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h1 {
    text-align: center;
  }
  #ourcollection{
    text-align: center;
    text-decoration: solid;
    text-underline-offset: line;
    font-weight: bold;
    color: black;
    background-color: #7091E6;
  }
  .room img:hover{
    transform: scale(0.9);
  }
  .room img{
    height: 245px;
  width: 400px;
  border-radius: 20px;
  transition: all 0.6s linear 0s;
<<<<<<< HEAD
}
.roomtext {
  font-size: medium;
  font-style: italic;
  font-weight: bold;
}
.carousel slide{
  margin-right: 10px;
}
=======
  }
>>>>>>> bf5303f4b2145c982c7e3d21c295000d2fdd0457
