.loginform{
    padding: 10px; /* Adjust padding as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ensures the container takes the full height of the viewport */
    background-color:#7091E6;
    width: 100%;
  }
  .text-center{
      font-weight: 1000px;
      font-size: 25px;
  }
  .text-center1{
    align-items: center;
  }